<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Lodin Payment Settings</title>

        <input-field type="text">
            <name>clientId</name>
            <label>Client ID</label>
            <placeholder>Enter your Lodin client ID</placeholder>
        </input-field>

        <input-field type="password">
            <name>clientSecret</name>
            <label>Client Secret</label>
            <placeholder>Enter your Lodin client secret</placeholder>
        </input-field>
    </card>
</config>
